@font-face{
  font-family:'f76map';
  src:url('../font/f76map.eot?v=1.1.0');
  src:url('../font/f76map.eot?#iefix&v=1.1.0') format('embedded-opentype'),
  url('../font/f76map.woff?v=1.1.0') format('woff'),
  url('../font/f76map.ttf?v=1.1.0') format('truetype');
  font-weight:normal;
  font-style:normal }


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'f76map' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-workbench:before {
  content: "\e900";
  color: ;
}
.icon-holotape:before {
  content: "\e901";
}
.icon-fcore:before {
  content: "\e902";
}
.icon-waterplant:before {
  content: "\e903";
}
.icon-vault96:before {
  content: "\e904";
}
.icon-vault94:before {
  content: "\e905";
}
.icon-vault76:before {
  content: "\e906";
}
.icon-vault63:before {
  content: "\e907";
}
.icon-vault:before {
  content: "\e908";
}
.icon-tree:before {
  content: "\e909";
}
.icon-trainyard:before {
  content: "\e90a";
}
.icon-trainstation:before {
  content: "\e90b";
}
.icon-town:before {
  content: "\e90c";
}
.icon-top:before {
  content: "\e90d";
}
.icon-teapot:before {
  content: "\e90e";
}
.icon-substation:before {
  content: "\e90f";
}
.icon-statue:before {
  content: "\e910";
}
.icon-spacestation:before {
  content: "\e911";
}
.icon-snow:before {
  content: "\e912";
}
.icon-shack:before {
  content: "\e913";
}
.icon-scraper:before {
  content: "\e914";
}
.icon-rocks:before {
  content: "\e915";
}
.icon-rocket:before {
  content: "\e916";
}
.icon-resort:before {
  content: "\e917";
}
.icon-railyard:before {
  content: "\e918";
}
.icon-raider:before {
  content: "\e919";
}
.icon-radiotower:before {
  content: "\e91a";
}
.icon-quarry:before {
  content: "\e91b";
}
.icon-pumpkin:before {
  content: "\e91c";
}
.icon-pub:before {
  content: "\e91d";
}
.icon-prison:before {
  content: "\e91e";
}
.icon-power:before {
  content: "\e91f";
}
.icon-pond:before {
  content: "\e920";
}
.icon-plane:before {
  content: "\e921";
}
.icon-perch:before {
  content: "\e922";
}
.icon-parmor:before {
  content: "\e923";
}
.icon-palace:before {
  content: "\e924";
}
.icon-observatory:before {
  content: "\e925";
}
.icon-nuka:before {
  content: "\e926";
}
.icon-monorail:before {
  content: "\e927";
}
.icon-mine:before {
  content: "\e928";
}
.icon-med:before {
  content: "\e929";
}
.icon-mansion:before {
  content: "\e92a";
}
.icon-manor:before {
  content: "\e92b";
}
.icon-lookout:before {
  content: "\e92c";
}
.icon-lighthouse:before {
  content: "\e92d";
}
.icon-houses:before {
  content: "\e92e";
}
.icon-hotdog:before {
  content: "\e92f";
}
.icon-headquarters:before {
  content: "\e930";
}
.icon-golf:before {
  content: "\e931";
}
.icon-fort:before {
  content: "\e932";
}
.icon-fissure:before {
  content: "\e933";
}
.icon-firedept:before {
  content: "\e934";
}
.icon-farm:before {
  content: "\e935";
}
.icon-fair:before {
  content: "\e936";
}
.icon-factory:before {
  content: "\e937";
}
.icon-dock:before {
  content: "\e938";
}
.icon-disposal:before {
  content: "\e939";
}
.icon-dish:before {
  content: "\e93a";
}
.icon-dam:before {
  content: "\e93b";
}
.icon-cream:before {
  content: "\e93c";
}
.icon-city:before {
  content: "\e93d";
}
.icon-church:before {
  content: "\e93e";
}
.icon-cemetery:before {
  content: "\e93f";
}
.icon-capital:before {
  content: "\e940";
}
.icon-camp:before {
  content: "\e941";
}
.icon-cabin:before {
  content: "\e942";
}
.icon-bunker:before {
  content: "\e943";
}
.icon-bridge:before {
  content: "\e944";
}
.icon-base:before {
  content: "\e945";
}
.icon-arktos:before {
  content: "\e946";
}
.icon-antiques:before {
  content: "\e947";
}
.icon-agcenter:before {
  content: "\e948";
}
.icon-freestate:before {
  content: "\e949";
}
.icon-bos:before {
  content: "\e94a";
}
.icon-map:before {
  content: "\e94b";
}
.icon-enclave:before {
  content: "\e94c";
}
.icon-responders:before {
  content: "\e94d";
}
.icon-mysteries:before {
  content: "\e94e";
}
.icon-death:before {
  content: "\e94f";
}
.icon-honey:before {
  content: "\e950";
}
.icon-altar:before {
  content: "\e951";
}
.icon-car:before {
  content: "\e952";
}
.icon-boat:before {
  content: "\e953";
}
.icon-table:before {
  content: "\e954";
}
.icon-sewer:before {
  content: "\e955";
}
.icon-ruintown:before {
  content: "\e956";
}
.icon-unknown:before {
  content: "\e957";
}
.icon-camera:before {
  content: "\e958";
}
.icon-nukacola:before {
  content: "\e959";
}
.icon-cap:before {
  content: "\e95a";
}
.icon-magazine:before {
  content: "\e95b";
}
.icon-bobble:before {
  content: "\e95c";
}
.icon-workbench1:before {
  content: "\e95d";
}